<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">
	
    <bean id="userService"
        class="com.demo.serviceimpl.UserService">
        <property name="userDao" ref="userDao" />
    </bean>
    
    <bean id="userDao"
        class="com.demo.daoimpl.UserDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="bookService"
        class="com.demo.serviceimpl.BookService">
        <property name="bookDao" ref="bookDao" />
    </bean>
    
    <bean id="bookDao"
        class="com.demo.daoimpl.BookDao">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>
    
    <bean id="longinIntercept" class="com.demo.common.LoginIntercept"></bean>
</beans>